* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
a {
  color: #f1f0f2;
}

body{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #0e1217;
}

h1 {
  background-color: skyblue;
  padding: 25px 15px;
  text-align: center;
}

h1,
h2 {
  font-weight: 600;
  color: #010e02;
}

nav {
  display: flex;
  background-color: #1c1f26;
  justify-content: space-between;
  padding: 30px 95px;
}

nav a {
  display: block;
  text-decoration: none;
  font-size: 20px;
}

ul li a {
  display: block;
}

nav a:hover {
  opacity: 0.7;
}

main {
  max-width: 1120px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 25px;
}

.card img {
  display: block;
  width: 200px;
  height: auto;
}

.card figcaption {
  padding: 6px 0;
  font-style: italic;
  font-size: 12px;
}

main .card p {
  line-height: 28px;
}

main .card {
  padding: 0 20px 40px;
  background-color: #1c1f26;
  border-radius: 10px;
}

main .card:nth-child(1) {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 40px;
}

main .card:nth-child(1) h2 {
  grid-column: 1/6;
  text-align: center;
  padding: 10px 0;
}

.card:nth-child(1) h2:nth-child(1) {
  background-color: skyblue;
  border-radius: 10px 10px 0 0;
  margin: 0 -20px;
}

.card:nth-child(1) h2:nth-child(4) {
  border-bottom: solid #b1b0b2 1px;
  color: #f1f0f2;
}

.card:nth-child(2) h2 {
  background-color: skyblue;
  border-radius: 10px 10px 0 0;
  padding: 10px 0;
  margin: 0 -20px;
  text-align: center;
}

.card:nth-child(1) p:nth-child(2) {
  grid-column: 1/5;
}

.card:nth-child(1) p:nth-child(6) {
  grid-column: 2/6;
}

.card ul {
  list-style-type: circle;
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  padding: 120px 20px 20px;
}

footer {
  padding: 25px 5px;
  background-color: #1c1f26;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
